@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton+SC&family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: rgb(86, 93, 99) !important;
    height: 70px !important;
}
.navbar-brand {
    letter-spacing: 1.5px;
    font-family: "Luckiest Guy", serif;
}
.navbar-brand span {
    color: rgb(35, 156, 255);
}
.navbar-nav span{
    transform: translateY(-2px);
}
.search {
    height: 35px;
    width: 350px;
    border: 0;
    margin-right: 10px;
    font-size: 19px;
    transform: translateY(2px);

}
.cart-badge{
    transform: translate(8px , -50px) !important;
    transition: 0.4s ease;
    position: absolute;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-family: "Righteous", serif;
}
#cart {
    transform: translateY(2px);
}
.drop-list {
    width: 350px !important;
    transform: translateX(-175px);
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.514);
} 
.confirm-btn {
    transform: scale(0);
    transition: transform 0.5s ease !important;
}
.confirm-btn:hover {
    color: rgb(207, 207, 207);
}
.item-price {
    display: none;
}



.sec1 {
    padding-top: 100px !important;
    margin-bottom: 20px;
}
.sec1 .card {
    width: 370px;
    height: 505px;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: rgb(228, 228, 228);
}
.card .card-body {
    position: relative;
}
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.254);
    z-index: 1;
    transition: all 0.4s;
}
.img-overlay h3 {
    float: right;
    font-family: "Acme", serif;
    letter-spacing: 1px;
}
.sec1 .card img {
    height: 370px;
    object-fit: contain;
}
.img {
    transform: scale(1.1) translateY(-18px);
    background-color: rgb(236, 236, 236) !important;
}
.sec1 .card:hover .img-overlay {
    background-color: rgba(0, 0, 0, 0);
}
.add-btn {
    transform: translate(130px , 35px);
    float: right;
    transition: transform 0.4s ease , color 0.2s !important;
}
.card:hover .add-btn {
    transform: translate(5px , 35px );
}
.btn:hover {
    color: rgb(190, 190, 190) !important;
}